---
title: Pricing
heading: Find the perfect plan for your School
description: All plans include a free Android App.
pricing_table:
  - name: Basic
    color: "#3498DB"
    features:
      - text: 1000 Rs per month
        highlight: true
      - text: Tracking Attendance
        highlight: false
      - text: Tracking Marks
        highlight: false
      - text: Tracking Fees
        highlight: false
      - text: Generating Results & Certificates
        highlight: false
      - text: Android App for Teachers & Admin
        highlight: false
    call_to_action:
      link: https://esms.github.io/ESMS/contact/
      text: Get started
  - name: Pro
    color: "#344461"
    features:
      - text: 2000 Rs Per Month
        highlight: true
      - text: Everything in Basic
        highlight: false
      - text: Send Marks to Parents Via App
        highlight: false
      - text: Advanced Student Insertion
        highlight: false
      - text: Scanning documents Via App
        highlight: false
      - text: Send Fee reminder to Parents Via App
        highlight: false
    call_to_action:
      link: https://esms.github.io/ESMS/contact/
      text: Get started
  - name: Professional
    color: "#263146"
    features:
      - text: 4000 + 50 Per Student App
        highlight: true
      - text: Everything in Basic and Pro
        highlight: false
      - text: Online Backup
        highlight: false
      - text: Android App for Parents (On Playstore)
        highlight: false
      - text: Academic Resources
        highlight: false
      - text: Practice MCQs for students
        highlight: false
    call_to_action:
      link: https://esms.github.io/ESMS/contact/
      text: Get started
faq:
  - question: What types of payment do you accept?
    answer: Cash, Bank Transfer or EasyPaisa.
  - question: Can I change my plan at a later time?
    answer: Yes, you can upgrade and downgrade your plan at anytime.
  - question: How can I request an ESMS for my School?
    answer: Send us a message on the Phone Number provided in the Contact Section and we'll set you up.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">krafiki143@gmail.com</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
